/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label img {
    margin-left: 10px; /* 與文字保持一些距離 */
    vertical-align: middle; /* 保持圖片和文字對齊 */
}

h1, h2 {
    text-align: center;
}

.question {
    margin: 20px 0;
}
